iion-card {
  max-width: 320px;
  background-color:  rgb(225, 42, 42) ;
  color: black; 
}

.img-container {
  display: flex;
  justify-content: flex-end;
  margin-top: 8px;

  img {
    width: 80px;
    height: auto;
  }
}
