


<ion-card class="card-circulo">
  <ion-card-header>
    <ion-card-title>Círculo</ion-card-title>
  </ion-card-header>





  <ion-card-content class="info">
    <p>
      El perímetro de un círculo es la longitud de la línea que forma su borde.
    </p>

    <div class="data">
      <div class="text">
        <h6><strong>P</strong>: perímetro</h6>
        <h6><strong>d</strong>: diámetro</h6>
        <h6><strong>r</strong>: radio del círculo</h6>
        <h6><strong>π</strong>: 3.1416</h6>
      </div>

      <ion-img src="assets/img/circulo.png" alt="Círculo"></ion-img>
    </div>
  </ion-card-content>






  

  <!-- ------------------------------ -->
  <ion-card-content class="form">
    <label>Radio</label>

    <ion-input
      type="number"
      [(ngModel)]="lado1Str"
      placeholder="Ingrese el radio">
    </ion-input>

    <ion-button expand="block" (click)="calcularPerimetro()">
      Calcular
    </ion-button>

    <div class="resultado" *ngIf="resultado">
      {{ resultado }}
    </div>
  </ion-card-content>
</ion-card>
