ion-card {
  max-width: 320px;
  background-color:  rgb(233, 230, 197) ;
  color: black; 
}

.img-container {
  display: flex;
  justify-content: flex-end;
  margin-top: 8px;

  img {
    width: 80px;
    height: auto;
  }
}





