<ion-card>
  <ion-card-header>
    <ion-card-title>Círculo</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    <p>
      El perímetro de un círculo es la longitud de la línea que forma su borde.
    </p>
    <br />
    <h6><strong>P</strong>: perímetro</h6>
    <h6><strong>d</strong>: diámetro</h6>
    <h6><strong>r</strong>: radio del círculo</h6>
    <h6><strong>π</strong>: 3.1416</h6>

    <!-- Opcional: imagen a la derecha -->
    <div class="img-container">
      <img src="assets/img/circulo.png" alt="Círculo" />
    </div>
  </ion-card-content>
  <!------------------->

  <ion-card-content>
    <ion-list>
      <ion-item>
          <ion-input [(ngModel)]="lado1Str" type="number" label="radio" label-placement="floating" fill="solid" placeholder="Ingrese el radio"></ion-input>
      </ion-item>
      <ion-item>
        <ion-button (click)="calcularPerimetro()">Calcular</ion-button> 
      </ion-item>
      <ion-item >
        {{resultado}}
      </ion-item>
    </ion-list>
  </ion-card-content>
</ion-card>

